
<ng-container
  *ngIf="
  {
    selectedImagesIds: selectedImagesIds$ | async,
    images: images$ | async,
  } as all"
>
  <div class="max-w-fit mx-auto" *ngIf="loading">
    <mat-spinner mode="indeterminate" diameter="40"></mat-spinner>
  </div>

  <ng-container *ngIf="!loading">
    <div *ngIf="all.images?.length == 0" class="animate-fadeIn max-w-lg mx-auto shadow-2xl rounded">
      <image-uploader (onUpload)="uploadImages($event)"></image-uploader>
    </div>
  </ng-container>

  <ng-container *ngIf="all.images?.length != 0 && !loading">
    <div class="sticky z-20 top-[5.3rem] flex justify-between items-center bg-[#F9FAFB] mb-[1rem] py-3 gap-2">
      <!-- Select All CheckBox -->
      <div class="flex items-center gap-2">
        <mat-checkbox
          class="justify-self-start text-sm font-semibold"
          [checked]="all.images?.length != 0 && (all.images?.length === all.selectedImagesIds?.length)"
          [color]="'primary'"
          (change)= "
                      $event.checked
                      ? imageState.selectAllImages()
                      : imageState.unSelectAllImages()
                    "
          name="themeCheckBox"
        >
          Select All
        </mat-checkbox>
        <span *ngIf="all.selectedImagesIds?.length != 0" class="text-gray-500">{{ all.selectedImagesIds?.length }} selected</span>
      </div>
      <div class="flex items-center gap-4">
        <button
                class="button bg-main text-gray-100 hover:bg-blue-700"
                (click)="openCharacteristicsDialog()"
                [hidden]="all.selectedImagesIds?.length != 1"
        >
          Characteristics
          <fa-icon class="ml-1" [icon]="faChartSimple"></fa-icon>
        </button>
        <button
                class="button bg-[#07b1bc] text-gray-100 hover:bg-[#01a0b6] hover:text-gray-100"
                (click)="onFindSimilar()"
                [hidden]="all.selectedImagesIds?.length != 1"
        >
          Find Similar
          <fa-icon class="ml-1" [icon]="faHandshakeSimple"></fa-icon>
        </button>
        <button
                class="button bg-lightRed text-white hover:bg-strongRed"
                [hidden]="all.selectedImagesIds?.length === 0"
                (click)="openDeleteImageDialog()"
        >
          Delete
          <fa-icon class="ml-1" [icon]="faTrash"></fa-icon>
        </button>
        <button
                class="button bg-main text-gray-100 self-end hover:bg-blue-700"
                (click)="openUploadImageDialog()"
                [hidden]="all.selectedImagesIds?.length != 0"
        >
          Upload
          <fa-icon class="ml-1" [icon]="faCloud"></fa-icon>
        </button>
      </div>
    </div>

    <div class="flex justify-center flex-wrap gap-4">
      <div
        *ngFor="let image of all.images"
        class="relative bg-transparent w-[300px] text-lg text-gray-600 font-bold px-[2rem] py-[3rem] rounded-xl shadow-2xl box-border hover:cursor-pointer"
      >
        <img
          class="max-w-[250px] max-h-[250px] w-auto h-auto" alt="image"
          (click)="toggleSelect(image.id)"
          (dblclick)="navigateToChosenImage(image)"
          [src]="image.url"
        >
        <div class="absolute top-[.1rem] right-[.1rem]">
          <mat-checkbox
            [checked]="all.selectedImagesIds | isChecked : image.id"
            [value]="image.id"
            [color]="'primary'"
            (change)= "
                        $event.checked
                        ? imageState.emitSelectedImage(image.id)
                        : imageState.emitUnSelectedImage(image.id)
                      "
            name="imageCheckBox">
          </mat-checkbox>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>


<ng-template #separator>
  <fa-icon [icon]="faChevronRight"></fa-icon>
</ng-template>
