
<ng-container
  *ngIf="
  {
    selectedImagesIds: selectedImagesIds$ | async,
    images: images$ | async,
  } as all"
>
  <div class="max-w-fit mx-auto" *ngIf="loading">
    <mat-spinner mode="indeterminate" diameter="40"></mat-spinner>
  </div>

  <ng-container *ngIf="!loading">
    <div *ngIf="all.images?.length == 0" class="animate-fadeIn max-w-lg mx-auto shadow-2xl rounded">
      <image-uploader (onUpload)="uploadImages($event)"></image-uploader>
    </div>
  </ng-container>

  <ng-container *ngIf="all.images?.length != 0 && !loading">
    <div class="flex justify-between mb-[1rem] gap-2">
      <!-- Select All CheckBox -->
      <mat-checkbox
        class="justify-self-start text-sm font-semibold"
        [checked]="all.images?.length != 0 && (all.images?.length === all.selectedImagesIds?.length)"
        [color]="'primary'"
        (change)= "
                    $event.checked
                    ? imageState.selectAllImages()
                    : imageState.unSelectAllImages()
                  "
        name="themeCheckBox"
      >
        Select All
      </mat-checkbox>
      <div class="flex items-center gap-4">
        <button
                class="px-[1rem] py-[.5rem] bg-main font-semibold text-gray-100 rounded-lg hover:cursor-pointer hover:bg-blue-700"
                (click)="openCharacteristicsDialog()"
                [hidden]="all.selectedImagesIds?.length != 1"
        >
          Characteristics
          <fa-icon class="ml-1" [icon]="faChartSimple"></fa-icon>
        </button>
        <button
                class="px-[1rem] py-[.5rem] bg-amber-400 font-semibold text-gray-600 rounded-lg hover:cursor-pointer hover:bg-amber-500 hover:text-gray-100"
                (click)="openFindSimilarDialog()"
                [hidden]="all.selectedImagesIds?.length != 1"
        >
          Find Similar
          <fa-icon class="ml-1" [icon]="faHandshakeSimple"></fa-icon>
        </button>
        <button
                class="button bg-lightRed text-white hover:bg-strongRed"
                [hidden]="all.selectedImagesIds?.length === 0"
                (click)="openDeleteImageDialog()"
        >
          Delete
          <fa-icon class="ml-1" [icon]="faTrash"></fa-icon>
        </button>
        <button
                class="px-[1rem] py-[.5rem] bg-main font-semibold text-gray-100 rounded-lg self-end hover:cursor-pointer hover:bg-blue-700"
                (click)="openUploadImageDialog()"
                [hidden]="all.selectedImagesIds?.length != 0"
        >
          Upload
          <fa-icon class="ml-1" [icon]="faCloud"></fa-icon>
        </button>
      </div>
    </div>

    <div class="flex flex-wrap gap-4">
      <div
        *ngFor="let image of all.images"
        class="relative bg-transparent text-lg text-gray-600 font-bold px-[2rem] py-[3rem] rounded-xl shadow-2xl box-border hover:cursor-pointer"
      >
        <img
          class="max-w-[250px] max-h-[250px] w-auto h-auto" alt="image"
          (click)="navigateToChoosenImage(image)"
          [src]="image.url"
        >
        <div class="absolute top-[.1rem] right-[.1rem]">
          <mat-checkbox
            [checked]="all.selectedImagesIds | isChecked : image.id"
            [value]="image.id"
            [color]="'primary'"
            (change)= "
                        $event.checked
                        ? imageState.emitSelectedImage(image.id)
                        : imageState.emitUnSelectedImage(image.id)
                      "
            name="imageCheckBox">
          </mat-checkbox>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
